<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= appname %></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, user-scalable=0">

	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->

</head>
<body>

<h3><%= appname %></h3>

<!-- @@include('inc/_partial.html', {"hello":"WORLD!"}) -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<!-- endbower -->
<!-- endbuild -->

</body>
</html>
